.games-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.games-bar .table{
    border-collapse: collapse;
    border-radius: 20px;
    table-layout: fixed;
    margin: 25px 0;
    font-size: 0.9rem;
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    /* min-width: 400px; */
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}


.games-bar .table thead tr {
    text-align: left;
}

.games-bar .table th,
.games-bar .table td {
    padding: 12px 15px;
    /* vertical-align: top; */
}
/* .logo {
    height: 100%;
    width: 100%;
}
.logo img{
  display: block;
  max-width:36px;
  max-height:20px;
  width: auto;
  height: auto;
} */