.games-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.games-bar .table{
    border-collapse: collapse;
    border-radius: 20px;
    margin: 25px 0;
    font-size: 0.9rem;
    table-layout: fixed;
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}



.games-bar .table thead tr {
    text-align: left;
}

.games-bar .table th,
.games-bar .table td {
    width: 25%; /* set a fixed width for all table cells */
    overflow: hidden; /* hide any content that does not fit within the cell */
    /*white-space: nowrap;  prevent wrapping of text */
    text-overflow: ellipsis; /* add an ellipsis to indicate that content is hidden */
    padding: 12px 15px;
}

@media (max-width: 576px) {
    .games-bar .table {
        font-size: 0.3rem;
    }
    .games-bar .table thead tr {
        font-size: 0.3rem;
    }
    .games-bar .table th,
    .games-bar .table td {
        padding: 0.4rem;
    }
}