.teams-menu-bar{
    margin-left: 80px;
    width: 80%;
    height: 100%;
    position: relative;
    
}

.teams-menu-bar table{
    table-layout: auto;
    background: white;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 25px 25px;
    font-size: 0.9rem;
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}


.teams-menu-bar table thead tr {
    text-align: left;
}

.teams-menu-bar table th,
.teams-menu-bar table td {
    padding: 12px 15px;
    width: 25%; /* set a fixed width for all table cells */
    overflow: hidden; /* hide any content that does not fit within the cell */
    /*white-space: nowrap;  prevent wrapping of text */
    text-overflow: ellipsis; /* add an ellipsis to indicate that content is hidden */
}

@media (max-width: 840px) {
    .teams-menu-bar{
        margin: 25px 0px;
    }
    .teams-menu-bar table {
        min-width: 250px;
      font-size: 0.4rem;
    }
    .teams-menu-bar table th,
    .teams-menu-bar table td {
      padding: 0.4rem;
    }
    .teams-menu-bar table tbody {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
    .teams-menu-bar table tr {
      display: block;
    }
    .teams-menu-bar table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
}