tr {
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}
.logo img{
  display: block;
  max-width:36px;
  max-height:20px;
  width: auto;
  height: auto;
}

@media (max-width: 576px) {
    tr {
      display: block;
    }
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: normal;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
}