.main-page{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.main-page .toggle-bar{
    align-items: center;
    align-self: start;
    margin-top: 20px;
}

.main-page .home{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    float: left;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    border-radius: 20px;
}

/* @media only screen and (max-width: 480px) {
    .home{
        display: none;
    }
} */