.player-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-info .record{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}