.profile-container{
    height: 100%;
    /* position: relative; */
    /* display: flex;
    justify-content: start;
    align-items: start;
    align-content: start; */
}
.profile-icon{
    font-size: 2em;
    min-width: 40px;
    width: 50px;
    height: 50px;
}