.table-container{
    position: relative;
    background: white;
}
.table-container .table{
    border-collapse: collapse;
    border-radius: 20px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}

.table-container .table thead tr {
    text-align: left;
}

.table-container .table th,
.table-container .table td {
    padding: 12px 15px;
}

.table-container .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}